.search-bar input{
  width:75%;
}

.video-item img{
   max-width: :64px;
}
.video-detail {
  border: :1px solid #eee;
  border-radius: 4px;

}
.details {
  margin-top :10px;
  border: :1px solid #fff;
  border-radius: 4px;

}
.video-player-class .video-player{
  margin-top :10px;

  max-width: 70%;
  position:relative;

}


.list-group-item{
  cursor: pointer;

}
.list-group-item:hover{
  background-color: #eee;
}
